/* =========================
    Base Styles
===========================*/
a{
    cursor: pointer;
}
html,body{
    width: 100%;
    height: auto;
    margin: auto 0;
    background: #ff7e5f;
    font-family: 'Fira Mono', monospace;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    color: #ff7e5f;
    position: relative;
    overflow-x: hidden !important;
  
}


.jumbotron-headline h1,
.lead{
    /* margin-top: 240px; */
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 0 2px 2px #222;
    
}
.jumbotron-headline h3{
    text-align: center;
    
}
.jumbotron-intro h3{
    font-weight: 400;
}
.lead{
    padding-bottom: 100px;
    font-size: 1.8em;
}

.intro{
    padding-top: 10px;
    font-size: 1.8em;
    font-weight: 300;
   
}

/* =========================
    Header Section
===========================*/

.jumbotron-headline{
  height: auto;
  margin: 0 auto;
     
}
#intro{
    z-index: 1000;
   
}
.sidenote{
  color: #fff;
  margin-top: 20px;
}

.content-width {
    width: 86%;
    height: auto;
    margin: 0 auto;
  }
.slideshow {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .slideshow-items {
    position: relative;
    width: 100%;
    height: 300px;
  }
  
  .item {
    position: absolute;
    width: 100%;
    height: auto;
  }
  
  .item-image-container {
    position: relative;
    width: 50%;
  }
  
  .item-image-container::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 101%;
    height: 101%;
    opacity: 0;
    z-index: 1;
    background: #f7653c;
  }
  
  .item-image {
    position: relative;
    width: 100%;
    height: auto;
    opacity: 0;
    display: block;
   
    /* transition: property name | duration | timing-function | delay  */
    transition: opacity .3s ease-out .45s;
  }
  
  .item.active .item-image {
    opacity: 1;
  }
  
  .item.active .item-image-container::before {
    opacity: .8;
  }
  
  .item-description {
    position: absolute;
    top: 182px;
    right: 0;
    width: 50%;
    padding-right: 4%;
    line-height: 1.8;
  }
  
  /* Staggered Vertical Items ------------------------------------------------------*/
  .item-header {
    position: absolute;
    top: 150px;
    left: -1.8%;
    z-index: 100;
  }
  
  .item-header .vertical-part {
    margin: 0 -4px;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: auto;
    font-size: 7vw;
    color: #fff;
  }
  
  .vertical-part {
    overflow: hidden;
    display: inline-block;
  }
  
  .vertical-part b {
    display: inline-block;
    transform: translateY(100%);
  }
  
  .item-header .vertical-part b {
    transition: .5s;
  }
  
  .item-description .vertical-part b {
    transition: .21s;
  }
  
  .item.active .item-header .vertical-part b {
    transform: translateY(0);
  }
  
  .item.active .item-description .vertical-part b {
    transform: translateY(0);
  }
  
  /* Controls ----------------------------------------------------------------------*/
  .controls {
    position: relative;
    text-align: right;
    z-index: 1000;
  }
  
  .controls ul {
    list-style: none;
  }
  
  .controls ul li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 3px;
    background:#bdbdd5;;
    cursor: pointer;
  }
  
  .controls ul li.active {
    background:#6a6a77;;
  }



/* =========================
    About Section
===========================*/



/* =========================
    Colour Section
===========================*/
#colours{
    background: #fff;
    margin: auto;
    text-align: center;
   z-index: 1000;
    border-bottom: orange solid 3px;
    height: 1500px;
    overflow-y: scroll;
    
}
.colours{
    font-size: 50px;
    margin-bottom: 100px;
}
/* .blanca,
.blanco,
.negra,
.negro,
.roja,
.rojo,
.naranja,
.amarilla,
.amarillo,
.verde,
.azul,
.morada,
.morado{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
    font-size: 20px;
}
.blanco,
.negro,
.rojo,
.naranja,
.amarillo,
.verde,
.azul,
.morado{
    margin-bottom: 40px;
}
.white,
.black,
.red,
.orange,
.yellow,
.green,
.blue,
.purple{
    border: 1px solid black;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: .1px;
    padding-bottom: .1px;
    margin-right: 20px;
    border-radius: 10%;
}
.black,
.black2{
    background: #000;
}
.red,
.red2{
    background: red;
}
.orange{
    background: orange;
}
.yellow,
.yellow2{
    background: yellow;
}
.green{
    background: green;
}
.blue{
    background: blue;
}
.purple,
.purple2{
    background: purple;
}
.white2,
.black2,
.red2,
.yellow2,
.purple2{
    border: 1px solid black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 90px;

} */

#container-color {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#slides {
	position: relative;
	width: 100%;
	height: 100%;
}

#slides .slide {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
}

#slides .slide .title {
	position: absolute;
	top: calc(25% - 0.5em);
	left: 20px;
	z-index: 2;
	padding-top: 5px;
	font-family: 'Reem Kufi', sans-serif;
	font-size: 5em;
	color: white;
	overflow: hidden;
}

#slides .slide .title .title-text {
	display: block;
	transform: translateY(1.2em);
	transition: transform 1s ease-in-out;
}

#slides .slide .slide-partial {
	position: absolute;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 1s ease-in-out;
}

#slides .slide .slide-partial img {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 1s ease-in-out;
}

#slides .slide .slide-left {
	top: 0;
	left: 0;
	transform: translateX(-10%);
}

#slides .slide .slide-left img {
	top: 0;
	right: 0;
	/* object-position: 100% 50%; */
	transform: translateX(50%);
}

#slides .slide .slide-right {
	top: 0;
	right: 0;
	transform: translateX(100%);
	transition-delay: 0.2s;
}

#slides .slide .slide-right img {
	top: 0;
	left: 0;
	object-position: 0% 50%;
	transition-delay: 0.2s;
	transform: translateX(-50%);
}

#slides .slide.active .title .title-text {
	transform: translate(0);
	transition-delay: 0.3s;
}

#slides .slide.active .slide-partial, #slides .slide.active .slide-partial img {
	transform: translateX(0);
}

#slide-select {
	position: absolute;
	bottom: 20px;
	left: 20px;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-family: 'Reem Kufi', sans-serif;
	font-size: 1.5em;
	font-weight: lighter;
	color: white;
}

#slide-select li {
	position: relative;
	cursor: pointer;
	margin: 0 5px;
}

#slide-select li.prev:hover {
	transform: translateX(-2px);
}

#slide-select li.next:hover {
	transform: translateX(2px);
}

#slide-select .selector {
	height: 14px;
	width: 14px;
	border: 2px solid white;
	background-color: transparent;
	transition: background-color 0.5s ease-in-out;
}

#slide-select .selector.current {
	background-color: white;
}
/* =========================
    Number  Section
===========================*/
#number{
    margin: auto;
    text-align: center;
    background: linear-gradient(20deg, firebrick, transparent 90%), 
                linear-gradient(220deg, rgb(129, 28, 28), transparent 90%),
                 url(../images/digits.png) no-repeat;
    z-index: 1000;
    background-size: cover;
    margin-bottom: 100px;
    height: auto;
}
.numbers{
    margin-top: 100px;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
}
.number-one-ten,
.number-eleven-twenty{
    margin-top: 30px;
    font-size: 25px;
    color: #fff;
    margin-bottom: 5px;
}



/* =========================
    Days/Months  Section
===========================*/
.days-months-title,
.quiz-title{
    margin-top: 250px;
    text-align: center;

}

#dm{
    margin: auto;
    height: auto;
    text-align: center;
    background: linear-gradient(rgb(72, 97, 209), transparent 90%),
                linear-gradient(40deg,rgb(72, 97, 209), transparent 90%),
                url(../images/summer.jpg);
    background-size: cover;
    margin-bottom: 100px;
    z-index: 1000;
   

}
.days,
.months{
    padding-top: 25px;
    color: #fff;
    font-size: 30px;
}
.day,
.mths{
    list-style-type: none;
    font-size: 25px;
    color: #fff;
}
/* .dw,
.the-months{
    width: 100%;
    margin-right: 20%;
} */

/* =========================
    Quiz/Study  Section
===========================*/
.how-to-use{
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;

}

#quiz{
    margin: auto;
    height: auto;
    background: #5c5054;
    font-size: 18px;
    font-family: 'Poppins', 'sans-serif';
    padding: 20px;
    display:flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1000;
 
}
.quiz{
    cursor: pointer;
    position: relative;
    width: 200px;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
    float: left;
    margin: 40px;
    height: 400px;
    perspective: 600px;
}
.quiz-question,
.quiz_answer{
    padding-bottom: 40px;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    transition: transform .6s;
    backface-visibility: hidden;
    background: url() no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #1a1a1a;
    border: 5px solid #2c2c2c;
    box-shadow: -4px 2px 10px black;
    text-align: center;
    border-bottom: 10px solid #af2b35;
    transform: rotateY(25deg);
    height: 310px;
    transform-style: preserve-3d;
}
.quiz-question img{
    width: 200px;
}
.quiz_answer img{
    width: 200px;
    height: 100px;
}
.quiz_answer h1{
    font-size: 1.2em;
}
.quiz_answer h1 span{
    font-size: 1.15em;
}
h1{
    font-size: .75em;
    line-height: 2.5em;
    padding: 10px;
    color: white;
    text-align: left;
    margin: 0;
    display: block;
    font-weight: bolder;
}
span{
    margin: 0;
    padding: 0px;
    position: relative;
    bottom: 10px;
}

h1 span{
    font-size: 1.4em;
    display: block;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
h1 span i{
    position: relative;
    background: #af2b35;
    padding: 5px 18px;
    position: relative;
    left: -10px;
    color: white;
}
.quiz_answer{
    padding-bottom: 50px;
    border-radius: 10px;
    box-sizing: border-box;
    top: 0;
    height: 370px;
    line-height: 2em;
    position: absolute;
    left: 0;
    margin: 0;
    transition: transform .6s;
    width: 100%;
    z-index: -1;
    transform: rotateY(-180deg);
}
.quiz:hover .quiz-question{
    transform: rotateY(180deg);
}

.quiz:hover .quiz_answer{
    transform: rotateY(25deg);
}
.greeting i{
    background: blue;
}
.name i{
    background: green;
}

.greeting .quiz-question,
.greeting .quiz_answer{
    border-bottom-color: blue;
}
.name .quiz-question,
.name .quiz_answer{
    border-bottom-color: green;
}

/* =========================
    Tab Design Section
===========================*/
.jumbotron-headline,
.colores,
.num,
.days-months,
.quiz-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transition: transform 0.4s ease;
    transform: translateX(-100%);
   
}
.jumbotron-headline:nth-of-type(1) {
    background-color: #ff7e5f;
}
.colores:nth-of-type(2) {
   
}
.num:nth-of-type(3) {
    background-color: #edf798;
}
.days-months:nth-of-type(4) {
    background-color: #80d6ff;
}
.quiz-card:nth-of-type(5){
    background-color: rgb(107, 190, 107);
}
input[type="radio"] {
    position: absolute;
    left: 0;
    width: 20px;
    height: 15%;
    outline: 10px solid;
    outline-offset: -10px;
    margin: 0;
    z-index: 1001;
    cursor: pointer;
    list-style: none;
    margin-right: 40px;
    color: #fff;
}
input[type="radio"]:nth-of-type(1) {
    outline-color:#ff7e5f;
    top: 0%;
    background: #ff7e5f;
}
input[type="radio"]:nth-of-type(2) {
    outline-color: #fab57a;
    top: 20%;
    background: #fab57a;
}
input[type="radio"]:nth-of-type(3) {
    outline-color: #edf798;
    top: 40%;
}
input[type="radio"]:nth-of-type(4) {
    outline-color: #80d6ff;
    top: 60%;
}
input[type="radio"]:nth-of-type(5) {
    outline-color: rgb(107, 190, 107);
    top: 80%;
}
input[type="radio"]:checked + div{
    transform: translateX(0%);
    transition: transform 0.4s ease 0.4s;
}


/* .small-nav{
    font-size: 20px;
    color: white;
   
} */